[Unit]
Description=Aurelia Daemon SOTA 2026
After=network.target

[Service]
Type=simple
User=will
WorkingDirectory=/home/will/aurelia
EnvironmentFile=/home/will/aurelia/.env
ExecStart=/home/will/aurelia/bin/aurelia
Restart=always
RestartSec=5
StandardOutput=append:/home/will/aurelia/logs/aurelia.log
StandardError=append:/home/will/aurelia/logs/aurelia.log

[Install]
WantedBy=multi-user.target
